<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top nav-color" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><%= image_tag('logo-horizontal.png', class: 'logo-nav') %></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

      <li >
         <%= link_to('Salir', destroy_user_session_path, :method => :delete, :class => 'sign-in-first' ) %>
      </li>

    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar nav-modify" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    
                        <!--<input type="text" class="form-control" placeholder="Búsqueda...">-->
                        <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default" type="button">-->
                        <!--    <i class="fa fa-search"></i>-->
                        <!--</button>-->
                        <!--</span>-->
                        <%= search_form_for @q, remote: false, :url=>  url_for(:editor_controller => "q", :action => "search") do |f| %>
                        <div class="input-group custom-search-form">
                         <%= f.search_field :first_name_or_second_name_or_first_last_name_or_first_second_name_cont, class: "form-control",  placeholder: "Búsqueda..." %>
                         <%= f.submit %>
                         <span class="input-group-btn">
                             <%= button_tag( :class => "btn btn-default") do %>
                                  <i class="fa fa-search"></i>
                             <% end %>
                         </span>
                          </div>
                         <% end %>
                    
                   
                    <!-- /input-group -->
                </li>
                <li>
                  <%= link_to dashboard_index_path do %>
                    <i class="fa fa-edit fa-fw"></i> Dashboard
                  <% end %>
                </li>
                <li>
                  <%= link_to identities_path do %>
                    <i class="fa fa-search fa-fw"></i> Búsqueda y registros
                  <% end %>
                </li>
                <li>
                  <%= link_to new_identity_path do %>
                    <i class="fa fa-edit fa-fw"></i> Nuevo registro
                  <% end %>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-table fa-fw"></i> Mis Registros</a>
                </li>

                <li>
                  <a href="#"><i class="fa fa-wrench fa-fw"></i> Datos abiertos</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
